[Desktop Entry]
Version=2.7.5
Name=Parse Script
Comment=Parsing files
Exec=/opt/ParseScript/src/Main.py --gui %f
Path=/opt/ParseScript
Terminal=false
Icon=/opt/ParseScript/resources/images/icon.png
Type=Application
Categories=Office;Graphics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;