[Desktop Entry]
Version=1.0
Name=Parse Script
Comment=Parsing files
Exec=python /opt/ParseScript/DataRetrieval.py --gui %f
Path=/opt/ParseScript
Terminal=false
Icon=/opt/ParseScript/resources/images/icon.png
Type=Application
Categories=Office;Graphics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;